<h2 class="text-3xl md:text-4xl mb-2 text-center">Buscar países</h2>
<hr>

<ul class=" my-4 font-semibold text-xl text-center flex
  flex-col text-white space-y-2 h-44">
  <li
    routerLink="countries/by-capital"
    routerLinkActive=""
    class="py-2 border-b px-2 cursor-pointer border-black
    rounded-lg hover:grow shrink bg-fondo-btn
    flex items-center justify-center transition-[flex-grow] duration-200">
      Por capital
  </li>
  <li
    routerLink="countries/by-country"
    routerLinkActive=""
    class="py-2 border-b bg-mundo1 px-2 cursor-pointer border-black
    rounded-lg hover:grow shrink flex items-center justify-center
    transition-[flex-grow] duration-200">
      Por país
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive=""
    class="py-2 border-b px-2 cursor-pointer border-black
    rounded-lg hover:grow shrink fondo-btn-2 bg-center bg-cover
    flex items-center justify-center transition-[flex-grow] duration-200">
      Por región
  </li>
</ul>
