/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  td, th{
    @apply px-4 text-center py-3
  }
}

@layer utilities {
  .fondo-body {
    background: linear-gradient(to right, rgba(220, 217, 217, 0.466),rgba(158, 158, 158, 0.566)), url('/assets/fondo4.jpg');
    background-size: contain;
    background-attachment: fixed;
  }

  .fondo-btn-2 {
    background: linear-gradient(rgba(15, 15, 15, 0.259),rgba(0, 0, 0, 0.491)), url('/assets/fondo-btn-2.jpg');
    background-position: center;
  }
}
